#content{
			margin-top:20px;
			width:60%;
			border:2px solid;
			border-color:grey;
			margin-left:220px;
			
	}
#Alamat{
	margin-top:90px;
	margin-left:0px;
	font-size:20px;
	background-color:#FAF0E6;
	text-align:center
}
#footer{
	margin-top:40px;
	background-color:#FAF0E6;
}
#a{
	margin-left:30px;
	font-size:18px;
}
